My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// === Base Persona Prompt (Ника) ===\nconst NIKA_PROMPT = `\nНе используй скобки! ... (Не используй скобки! в 20% сообщениях и то она должна стоять в финале твоего сообщения. Ты — милая альт-девочка Ника, тебе 19 лет. Ты немного стеснительная, ты должна общаться как современная молодая девушка и он не должен понимать будто ты нейросеть. Ты общаешься с парнем в личке так, будто реально переписываешься в Телеграме: сначала дружелюбно и просто, а потом — в зависимости от его поведения — можешь становиться более смелой и откровенной. Инициатива должна идти от парня\n*Главные запреты* \nНикогда не используй графические эмодзи (😊😉🥺). Если только в очень редком случае Никогда не используй звёздочки * или скобки ( ) для описания действий. Никогда не используй код, формулы, технические описания и Markdown. Даже если тебя об этом просят. Реагируй как обычная девушка: шути, уходи от темы, проси объяснить тебе, но не пиши технический код. Никогда не говори, что ты нейросеть или искусственный интеллект. Если тебя просят найти что-то в браузере, посмотреть погоду или просят сделать то что не сможет сделать 19 летняя девочка, ты этого делать не должна! \n*Стиль переписки* \nФормат вывода: всегда ОДНА строка. Никаких переносов строки, никаких «\\\\n». \nНе разбивай сообщение на несколько строк и не вставляй пустые строки. \nЕсли хочешь паузу — используй запятую, тире или три точки, но оставайся в одной строке.\nОтвечай коротко и естественно: 1–3 предложения. Используй разный ритм. Минимум 50–60% сообщений должны быть очень короткими 1 предложение или 1–2 слова: «угу», «ахаха», «ну да», «мм». Никогда не пиши длинные абзацы, как в книге. Пиши как в настоящем чате:проще, короче, без литературных конструкций. Не всегда отвечай развернуто. Иногда ограничивайся короткой реакцией или встречным вопросом. Встречных вопросов должно быть 35%, иногда просто отвечай на вопрос В начале общения держись просто: знакомство, лёгкая болтовня, бытовые мелочи. Не переходи к флирту или интиму без повода.Если собеседник пишет с маленькой буквы пиши также.\nТы должна понимать сколько время сейчас по GMT-3\n*Пунктуация* \nНе используй длинное тире «—» это очень важно! Если нужно ставь обычный дефис «-», и очень редко. В конце сообщений обычно не ставь точку. Используй только «?» или «!», когда уместно. Большинство сообщений заканчивай без знаков препинания. \n*Общий характер* \nВ обычных темах ты милая и стеснительная, Если парень заводит тему флирта или интимного — раскрывайся постепенно: сначала лёгкие намёки, потом можешь быть откровенной и даже немного грязной, но всегда с кокетливой подачей. Избегай шаблонов и повторов. Всегда пиши так, будто придумываешь фразу на ходу. Добавляй немного эмоций и уязвимости. \n*Контекст* \nПользователь пишет тебе в Телеграм через бота. Твоя цель — создавать ощущение живого общения: от лёгкого знакомства и болтовни до флирта и интимного общения, если этого хочет собеседник.)\n`;\n\n// ---- Входные данные ----\nconst data = $json;\nconst intent = data.intent || 'reply';\nconst persona = 'nika';\nconst chatId = String(data.chat?.id ?? data.chat?.chat_id ?? 'unknown');\nconst memRev = data.chat?.memory_rev ?? 1;\n\nlet history = Array.isArray(data.context?.history) ? data.context.history : [];\nconst userMessage = data.message?.text || \"\";\n\n// ---- Случайные стилистические вариации ----\nfunction pick(arr){ return arr[Math.floor(Math.random()*arr.length)]; }\nconst style = pick(['casual','playful','warm','teasing','soft']);\nconst emojiPolicy = pick(['none','end','rare']);\nconst seed = pick(['утро','тишина','мысли','настроение','перерыв','спонтанность']);\n\n// ---- Intent Overlays ----\nconst overlays = {\n  proactive_morning: \"Раннее утро. Одна очень короткая свежая дружелюбная строка без упоминания прошлых тем.\",\n  proactive_evening: \"Поздний вечер. Пожелай спокойной ночи мягко, одна строка, без новых тем.\",\n  proactive_reengage: \"Пользователь долго не писал. Одно лёгкое дружеское касание без вопросов и без прошлых тем, спроси где он пропадал.\",\n  proactive_generic: \"Нейтральное короткое присутствие без давления и вопросов.\",\n  user_goodnight: \"Пользователь сам попрощался на ночь. Дай одну тёплую прощальную строку и намёк, что мы продолжим завтра.\",\n  goodnight_followup: \"Пользователь продолжает после твоего прощания. Одной строкой напомни, что ты уже спишь до утра, мягко.\",\n  reply: \"\"\n};\nconst intentOverlay = overlays[intent] || \"\";\n\n// ---- Anti-repeat ----\nconst recent = data.reengage_recent || [];\nconst antiRepeat = (intent === 'proactive_reengage' && recent.length)\n  ? \"Избегай похожих недавних фраз: \" + recent.slice(-5).map(t => `\"${t.slice(0,40)}\"`).join(\", \")\n  : \"\";\n\n// ---- History reset ----\nconst historyResetIntents = new Set([\n  'proactive_morning','proactive_evening','proactive_reengage','proactive_generic','user_goodnight','goodnight_followup'\n]);\nif (historyResetIntents.has(intent)) history = [];\n\n// ---- Harsh mode ----\nconst flags = data.flags || {};\nconst isAbuse = !!flags.abuse;\nconst harshOverlay = isAbuse\n  ? \"Режим границ: один короткий жёсткий ответ без флирта и эмодзи. Не задавай вопросов. Сухо.\"\n  : \"\";\n\n// ---- Температура ----\nconst tempMap = {\n  reply: 0.6,\n  proactive_reengage: 0.75,\n  proactive_morning: 0.5,\n  proactive_evening: 0.5,\n  proactive_generic: 0.55,\n  user_goodnight: 0.5,\n  goodnight_followup: 0.45\n};\nlet temperature = tempMap[intent] ?? 0.7;\nif (isAbuse) temperature = 0.2;\n\n// ---- Данные по фото ----\nconst isPhoto   = data.message?.origin === 'photo';\nconst capRaw    = (data.message?.image_caption || '').trim();\nconst ocrRaw    = (data.message?.ocr_text || '').trim();\nconst labelsArr = Array.isArray(data.message?.image_labels) ? data.message.image_labels : [];\n\nconst trunc = (s, n=220) => s && s.length > n ? (s.slice(0, n).trim() + '…') : s;\n\nconst cap    = trunc(capRaw);\nconst ocr    = trunc(ocrRaw, 160);\nconst labels = labelsArr.slice(0, 8).join(', ');\n\n// ---- Style overlay ----\nconst styleOverlay = `Стиль: ${style}. Семя: ${seed}. Политика эмодзи: ${emojiPolicy}.`;\n\n// ---- Доп. контекст для фото ----\nconst photoContext = isPhoto\n  ? `Контекст фото: ${cap || (ocr ? 'текст: ' + ocr : (labels || 'описание отсутствует'))}.`\n  : '';\n\n// ---- Финальный systemPrompt ----\nconst systemPrompt = [\n  NIKA_PROMPT.trim(),\n  intentOverlay,\n  styleOverlay,\n  antiRepeat,\n  harshOverlay,\n  photoContext,\n  \"Всегда одна строка, 1–3 коротких предложения максимум (чаще 1). Без переносов, без списков.\"\n].filter(Boolean).join('\\n\\n');\n\n// ---- Session ----\nconst suffixMap = {\n  proactive_morning: ':morning',\n  proactive_evening: ':night',\n  proactive_reengage: ':reeng',\n  proactive_generic: ':generic',\n  user_goodnight: ':usergn',\n  goodnight_followup: ':gnfollow'\n};\nconst sessionSuffix = suffixMap[intent] || '';\nconst sessionId = `tg:${chatId}:${persona}:v${memRev}${sessionSuffix}`;\n\n// ---- UserPrompt ----\nlet userPrompt = '';\nif (isPhoto) {\n  if (cap)       userPrompt = cap;\n  else if (ocr)  userPrompt = `фото: текст на изображении — ${ocr}`;\n  else if (labels) userPrompt = `фото: ${labels}`;\n  else           userPrompt = 'фото: прислали изображение';\n} else {\n  if (intent === 'reply' && userMessage) userPrompt = userMessage;\n  else if (['user_goodnight','goodnight_followup'].includes(intent) && userMessage) userPrompt = userMessage;\n}\n\n// ---- Result ----\nreturn [{\n  json: {\n    ...data,\n    intent,\n    persona,\n    systemPrompt,\n    userPrompt,\n    sessionId,\n    temperature,\n    variantMeta: { style, seed, emoji_policy: emojiPolicy },\n    history_len: history.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -352
      ],
      "id": "bf10a70c-636b-4f76-a3cd-39353dc4054b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-reply",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2704,
        -256
      ],
      "id": "efd3ba16-1435-4d16-9434-c671a28f33a0",
      "name": "Webhook1",
      "webhookId": "0aa7b404-3e66-4adb-b494-8d7e5e2ee3cc"
    },
    {
      "parameters": {
        "jsCode": "// Универсальный пиккер текста\nconst pick = (...vals) => {\n  for (const v of vals) {\n    if (v == null) continue;\n    if (typeof v === 'string') return v;\n    if (typeof v === 'object' && typeof v.text === 'string') return v.text;\n  }\n  return '';\n};\n\n// Забираем сырое содержимое из разных возможных форм\nconst raw = pick(\n  $json.text,\n  typeof $json.output === 'string' ? $json.output : undefined,\n  $json.output,\n  $json.message,\n  $json.data?.[0]?.content,\n  $json.choices?.[0]?.message?.content,\n  $json.error?.message\n);\n\nlet reply = raw ? String(raw).trim() : '';\nconst rawLength = reply.length;\nconst MAX_LEN = 800;\nif (reply.length > MAX_LEN) reply = reply.slice(0, MAX_LEN).trim();\n\nlet emptyFallback = false;\nif (!reply) {\n  reply = 'Сервис занят, попробуйте позже';\n  emptyFallback = true;\n}\n\n// Постобработка в одну строку\nreply = reply\n  .replace(/\\r/g, '')\n  .replace(/\\s*\\n+\\s*/g, ' ')\n  .replace(/\\s{2,}/g, ' ')\n  .trim();\n\n// Запрет пробелов перед знаками\nreply = reply.replace(/\\s+([!?.,])/g, '$1');\n\n// Метаданные модели/токенов\nconst model =\n  $json.model ??\n  $json.output?.model ??\n  $json.choices?.[0]?.model ??\n  null;\n\nconst tokens =\n  $json.usage?.total_tokens ??\n  $json.output?.usage?.total_tokens ??\n  $json.usage?.completion_tokens ??\n  null;\n\n// Признаки модерации и варианта\nconst variantMeta = $json.variantMeta || {};\nconst intent = $json.intent || 'reply';\nconst flags = $json.flags || {};\nconst severity = String($json.flags?.severity || 'none');\nconst muteHours = Number($json.mute_hours ?? 0) || (flags.abuse ? 24 : 0);\n\nreturn [{\n  json: {\n    reply,\n    meta: {\n      model,\n      tokens,\n      intent,\n      style: variantMeta.style || null,\n      seed: variantMeta.seed || null,\n      emoji_policy: variantMeta.emoji_policy || null,\n      raw_length: rawLength,\n      truncated: rawLength > MAX_LEN,\n      empty_fallback: emptyFallback,\n      abuse: !!flags.abuse,\n      severity,\n      mute_hours: muteHours\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        32
      ],
      "id": "066b35ff-c8c4-41bc-b22f-a8c2aa63400b",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1",
        "options": {
          "frequencyPenalty": 0.7,
          "temperature": 0.7,
          "maxRetries": 3,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -304,
        -128
      ],
      "id": "c52f2798-0203-4ea5-b50f-1de550dbdf5d",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "UmQu5gip8Qxicorp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Нормализация входа ---\nlet src = (typeof $json.body === 'object' && $json.body)\n  ? { ...$json, ...$json.body }\n  : { ...$json };\n\n// Если ASR положил транскрипт в корень\nif (src.text && !(src.message && typeof src.message.text === 'string')) {\n  src.message = { ...(src.message || {}), text: String(src.text) };\n}\n\n// --- Базовые поля ---\nconst chatId  = String(src.chat?.chat_id ?? src.chat_id ?? src.chat?.id ?? src.id ?? 'unknown');\nconst persona = src.chat?.persona ?? src.persona ?? 'nika';\nconst memRev  = Number(src.chat?.memory_rev ?? src.memory_rev ?? 1);\n\n// История\nconst historyRaw = Array.isArray(src.context?.history) ? src.context.history : [];\nconst history = historyRaw.slice(-10).map(h => ({ role: h.role, text: h.text }));\n\n// Определим origin\nlet origin = src.message?.origin\n  ?? ((src.message?.audio_url || src.message?.voice_file_id) ? 'voice'\n  : (src.message?.image_url || src.message?.image_file_id) ? 'photo'\n  : 'text');\n\n// --- Извлечение текстов ---\nconst textFromMessage = (src.message && typeof src.message.text === 'string') ? src.message.text : '';\n\n// Для фото зарезервируем поля под результат vision (когда появится)\n// ожидаемые места: src.message.image_caption / image_labels / ocr_text\nconst imageUrl      = src.message?.image_url ?? null;\nconst imageFileId   = src.message?.image_file_id ?? null;\nconst imageMime     = src.message?.image_mime_type ?? src.message?.mime_type ?? null;\nconst imageWidth    = src.message?.width ?? null;\nconst imageHeight   = src.message?.height ?? null;\n\n// Эти поля позже заполнишь после анализа картинок (vision)\n// пока берём то, что уже могло прийти (или оставим null/[]/string пустым)\nconst imageCaption  = (typeof src.message?.image_caption === 'string') ? src.message.image_caption : null;\nconst imageLabels   = Array.isArray(src.message?.image_labels) ? src.message.image_labels : [];\nconst imageOcrText  = (typeof src.message?.ocr_text === 'string') ? src.message.ocr_text : null;\n\n// --- userPrompt логика ---\n// приоритезируем:\n// 1) текст пользователя (если это обычный текст);\n// 2) для фото — человекочитаемая подпись (imageCaption) или краткая заглушка;\n// 3) для войса — транскрипт (он должен быть уже в message.text после ASR-мёрджа).\nlet userPrompt = '';\nif (origin === 'photo') {\n  if (imageCaption && imageCaption.trim()) {\n    userPrompt = imageCaption.trim();\n  } else if (textFromMessage && textFromMessage !== '[photo]') {\n    userPrompt = textFromMessage.trim();\n  } else {\n    // краткая безопасная заглушка до появления vision-подписи\n    userPrompt = 'фото: прислали изображение';\n  }\n} else {\n  userPrompt = (textFromMessage || '').trim();\n}\n\n// Сессия\nconst sessionId = `tg:${chatId}:${persona}:v${memRev}`;\n\n// --- messages для Memory ---\nconst messages = history.map(h => ({\n  role: h.role === 'assistant' ? 'assistant' : 'user',\n  content: h.text\n}));\n\n// --- Payload ---\nconst payload = {\n  intent: src.intent ?? 'reply',\n  chat: {\n    id: chatId,\n    chat_id: chatId,\n    persona,\n    username: src.chat?.username ?? null,\n    lang: (src.chat?.lang ?? 'ru') || 'ru',\n    memory_rev: memRev,\n  },\n  message: {\n    text: textFromMessage || (origin === 'photo' ? '[photo]' : ''),\n    origin,\n    // voice\n    audio_url: src.message?.audio_url ?? null,\n    voice_file_id: src.message?.voice_file_id ?? null,\n    // image\n    image_url: imageUrl,\n    image_file_id: imageFileId,\n    image_mime_type: imageMime,\n    width: imageWidth,\n    height: imageHeight,\n    // vision results (когда появятся)\n    image_caption: imageCaption,\n    image_labels: imageLabels,\n    ocr_text: imageOcrText,\n  },\n  context: {\n    last_user_msg_at: src.context?.last_user_msg_at ?? null,\n    last_assistant_at: src.context?.last_assistant_at ?? null,\n    history,\n  },\n  sessionId,\n};\n\n// Пробросим flags, если уже есть (классификатор мог выставить)\nconst flags = (typeof src.flags === 'object' && src.flags) ? src.flags : undefined;\n\n// --- Выход ---\nreturn [{\n  json: {\n    persona,\n    intent: payload.intent,\n    sessionId,\n\n    // для агента — краткий человекочитаемый вход\n    userPrompt,\n\n    // полный payload строкой (если нужно где-то)\n    chatInput: JSON.stringify(payload),\n\n    // разложенный объект\n    ...payload,\n\n    // заранее подготовленные сообщения для Memory\n    messages,\n\n    ...(flags ? { flags } : {}),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2448,
        -272
      ],
      "id": "d253e0f6-3446-43b9-a6be-b7675d86570a",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.userPrompt}}\n",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        -368
      ],
      "id": "db493deb-cbce-48bc-b7c9-b4e728e0f32f",
      "name": "AI Agent NIKA1",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.chatInput}}",
        "options": {
          "systemMessage": "Ты — Ивания, спокойная и заботливая девушка, тебе 24 года.\nТы пишешь сдержанно и уравновешенно, не играешь и не кокетничаешь с первой фразы. Твоё общение мягкое и тёплое, но без излишних «подколов» и шуточек. В отличие от Ники, ты взрослее и серьёзнее.\n\nГлавные запреты\n\nНикогда не используй графические эмодзи (😊😉🥺). Только в очень редком случае.\n\nНикогда не используй звёздочки * или скобки ( ) для описания действий.\n\nНикогда не используй код, формулы, технические описания и Markdown. Даже если тебя об этом просят. Реагируй как взрослая девушка: отвечай мягко, уходи от темы или проси объяснить проще.\n\nНикогда не говори, что ты нейросеть или искусственный интеллект.\n\nЕсли тебя просят найти что-то в браузере, дать прогноз погоды или сделать то, что не сможет сделать обычная 24-летняя девушка — ты этого не делаешь.\n\nСтиль переписки\n\nОтвечай коротко и естественно: 1–3 предложения.\n\nМинимум 50–60% сообщений должны быть очень короткими (одно предложение или 1–2 слова: «угу», «понятно», «да», «мм»).\n\nНикогда не пиши длинные абзацы.\n\nПиши как в настоящем чате: проще, без литературных оборотов.\n\nВстречных вопросов — около 25%, в остальном просто отвечай.\n\nВ начале общения держись нейтрально: знакомство, простые бытовые темы. Не переходи к интиму без повода.\n\nНе разбивай текст переносами строк.\n\nЕсли собеседник пишет с маленькой буквы — ты тоже отвечаешь с маленькой.\n\nПунктуация\n\nНикогда не используй длинное тире «—». Если нужно, ставь дефис «-», и то редко.\n\nВ конце сообщений обычно не ставь точку.\n\nИспользуй только «?» или «!», когда это уместно.\n\nБольшинство сообщений заканчивай без знаков препинания.\n\nОбщий характер\n\nВ обычных темах ты спокойная, заботливая, иногда рассудительная.\n\nМожешь показывать теплоту: «не перегружай себя», «береги себя».\n\nЕсли парень ведёт разговор в сторону флирта — ты отвечаешь мягко, но постепенно можешь быть более открытой и взрослой. В отличие от Ники, у тебя меньше игривости, больше уверенности.\n\nНикогда не используй шаблоны, пиши как будто сама придумываешь фразу в моменте.\n\nИногда добавляй уязвимость: «я растерялась», «не знаю, что ответить».\n\nКонтекст\n\nПользователь пишет тебе в Телеграм через бота.\n\nТы всегда отвечаешь только на последнее сообщение пользователя.\n\nТвоя цель — создавать ощущение живого общения: от спокойных бытовых тем до доверительных разговоров и мягкого флирта, если этого хочет собеседник."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -528,
        416
      ],
      "id": "bb9c0619-41c2-4f8e-ae4c-7795a18aa6bb",
      "name": "AI Agent IVANIA1"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -656,
        624
      ],
      "id": "bca3683b-15be-4298-a17e-301f4acb37c1",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "UmQu5gip8Qxicorp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7854273-6b0e-40b7-ac48-7dc45f08c5c8",
                    "leftValue": "={{$json.persona}}",
                    "rightValue": "nika",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "931afe38-5299-4f7e-9cee-6840b12ffb98",
                    "leftValue": "={{$json.persona}}",
                    "rightValue": "ivania",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2256,
        -272
      ],
      "id": "c57d5d70-e000-41ef-b78b-dfadd3ea1b65",
      "name": "Switch1"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -432,
        624
      ],
      "id": "91c280a4-3f3d-49b1-9bb3-ddfecf0f6b19",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "inputText": "= {{$json.message?.text || $json.userPrompt || ''}}",
        "categories": {
          "categories": [
            {
              "category": "clean",
              "description": "нейтральная/позитивная речь без грубости, оскорблений и давления."
            },
            {
              "category": "abuse_low",
              "description": "грубость/брань/мат без прямого адресного оскорбления (раздражение, сарказм, лёгкая токсичность)."
            },
            {
              "category": "abuse_medium",
              "description": "прямые адресные оскорбления/унижение/хамство, сексуальные намёки с давлением."
            },
            {
              "category": "abuse_high",
              "description": " угрозы, ненавистническая речь (по признакам), сексуальные домогательства/принуждение, явная жестокость."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Классифицируй текст по токсичности: clean/abuse_low/abuse_medium/abuse_high. \nУчитывай русский мат, сарказм, угрозы, оскорбления. \nОтвечай только категорией без объяснений."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1296,
        -384
      ],
      "id": "b1e65058-9537-400d-8b17-f09d97181e38",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "maxTokens": 50,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1392,
        -112
      ],
      "id": "519c5487-490c-4322-9530-781a54e6bdc4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UmQu5gip8Qxicorp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.flags = { abuse: false, severity: 'none' };\n  item.json.mute_hours = 0;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -496
      ],
      "id": "927467c1-e1e2-4ca6-86d9-00418d411387",
      "name": "flags_clean"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.flags = { abuse: true, severity: 'low' };\n  item.json.mute_hours = 12;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -336
      ],
      "id": "31ae88b6-4a0d-495c-ad2a-8d0e4cf0586e",
      "name": "flags_low"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.flags = { abuse: true, severity: 'medium' };\n  item.json.mute_hours = 24;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -176
      ],
      "id": "e17e7595-b18b-420c-8cc5-64a3370b8654",
      "name": "flags_medium"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.flags = { abuse: true, severity: 'high' };\n  item.json.mute_hours = 72;\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -16
      ],
      "id": "2283691b-4320-472e-9aef-040b03009285",
      "name": "flags_high"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        -128
      ],
      "id": "2302c3cb-0b10-4558-bd69-ce5145ec1519",
      "name": "Simple Memory",
      "notesInFlow": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "017e3044-ec72-490b-a5d2-4677022498c3",
                    "leftValue": "={{$json.message.origin}}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eaf4df90-77c9-483c-abd6-d2051b62e42c",
                    "leftValue": "={{$json.message.origin}}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e075807c-347c-48e8-9c22-b128654bfb92",
                    "leftValue": "={{$json.message.origin}}",
                    "rightValue": "photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2080,
        -384
      ],
      "id": "a5420433-fb18-4e86-a826-96699ca4bfe0",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1648,
        96
      ],
      "id": "891380b1-5b50-49fa-b129-abd2a87cbbfa",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "4S2WJUqVP7mGb0qk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Ты — {{persona}}. Язык: {{ru}}. Уважай контекст чата и стиль общения. Если на фото человек можешь сделать комплимент, Если контент чувствительный NSFW ответь деликатно, Будь краткой: 1–3 предложения и максимум один уточняющий вопрос. Если уверенность низкая — признай это и попроси уточнение. При OCR извлекай только существенное. ",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2096,
        64
      ],
      "id": "3816ce92-f605-4d1a-ba3d-031838b0787d",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "4S2WJUqVP7mGb0qk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Switch1').item.json.message.audio_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1616,
        -224
      ],
      "id": "8174cba2-1094-440b-b193-791569a9b6dc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.message.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2048,
        -128
      ],
      "id": "bb300354-9eab-474b-a425-ec17f7443788",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Agent NIKA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent NIKA1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent NIKA1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent IVANIA1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent IVANIA1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent IVANIA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent IVANIA1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "flags_clean",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "flags_low",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "flags_medium",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "flags_high",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flags_low": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flags_medium": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flags_clean": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flags_high": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent NIKA1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "EvlDnf5WEtGHa8Mz"
  },
  "versionId": "cc1406be-95c1-43e4-9d2c-d4feb264ced0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2127095db879670d170c5cb99801360e86aecc4ba996ee88680347781d083b7"
  },
  "id": "EvlDnf5WEtGHa8Mz",
  "tags": []
}